<div class="menu float-right">
    <ul>
        <li><a ng-href="/dashboard/procedure/running/{{procedure.id}}" ng-click="changeColor('Live',procedure.id,procedure.name)" class="indexBtns">Live Index</a></li>
        <li><a ng-href="/dashboard/procedure/archived/{{procedure.id}}" ng-click="changeColor('Archived',procedure.id,procedure.name)" class="indexBtns">AS-Run Archive Index</a></li>
    </ul>
</div>
<div id="liveprocedures">
    <table class="table table-hover">
        <thead>
            <tr class="procheader">
                <th>
                    <a href="#"></a>
                </th>
                <th>
                    <a href="#">Step</a>
                </th>
                <th>
                    <a href="#">Role</a>
                </th>
                <th>
                    <a href="#">Type</a>
                </th>
                <th>
                    <a href="#">Content</a>
                </th>
                <th>
                    <a href="#">Comments</a>
                </th>
                <th>
                    <a href="#">Status</a>
                </th>
                <th>
                    <a href="#">Info</a>
                </th>
            </tr>
        </thead>
        <tbody class="details">
            <tr ng-repeat="step in steps" ng-show="step.openstatus" ng-style="step.rowstyle.rowcolor">
                <td>
                    <a href="#" ng-click="showPList($index,step.index,step.headertype)">
                    <span class="{{step.class}}"></span></a>
                </td>
                <td>{{ step.Step }}</td>
                <td>{{ step.Role }}</td>
                <td><span class="{{step.typeicon}}" title="{{step.Type}}" ng-style="step.typecolor"></span></td>
                <td ng-if="step.contenttype === 'String'">{{ step.Content }}</td>
                <td ng-if="step.contenttype === 'Array'">
                    <ul class="contentList">
                        <li ng-repeat="item in step.Content track by $index">
                            {{item}}
                        </li>
                    </ul>
                </td>
                <td ng-if="step.contenttype === 'Input'">
                    <p>{{step.Content}}</p>
                    <label>TLM Recorded Value:</label><strong>{{step.recordedValue}}</strong>
                    <br/>
                    <label>Enter Value:</label><input type="text" ng-model="tempValues[$index].ivalue" ng-keypress="whenTyping($index)" ng-disabled="step.chkval || step.status"/>
                    <button ng-click="updateInputValue($index,tempValues[$index].ivalue)" ng-style="step.buttonStatus" ng-disabled="step.chkval || step.status">Set</button>
                </td>
                <td ng-if="step.contenttype === 'AlertInfo'">
                    <p>{{step.Content}}</p>
                    <a href="http://google.com" target="_blank">View Information</a>
                </td>
                <td ng-if="step.contenttype === 'DecisionInfo'">
                    <p>{{step.Content}}</p>
                    <label ng-show="step.procedureLinkDetails.length > 0">Links to:</label>
                    <ul class="contentList">
                        <li ng-repeat="links in step.procedureLinkDetails">
                            <a href="{{links.link}}">Procedure {{links.pid}}</a>
                        </li>
                    </ul>
                </td>
                <td><input type="checkbox" ng-disabled="step.status" ng-click="setInfo($index,step.chkval)" ng-model="step.chkval"></td>
                <td>{{ step.Info }}</td>
                <td class="commentsCol">
                    <a href="#" editable-textarea="tempValues[$index].comments" e-rows="3" e-cols="15"  ng-if="step.chkval === false && step.status === false" ng-click="whenTypingComments($index,comments)" onaftersave="saveComments(tempValues[$index].comments,$index)">
                        <pre ng-if="tempValues[$index].comments.length > 0 || step.comments.length > 0">{{ tempValues[$index].comments || step.comments }}</pre>
                        <pre ng-if="!tempValues[$index].comments && !step.comments" style="color:#ccc">{{ 'Enter comments here' }}</pre>
                    </a>
                    <span ng-if="step.chkval === true || step.status === true" e-rows="3" e-cols="15">
                        <pre ng-if="step.comments.length > 0">{{ step.comments }}</pre>
                        <pre ng-if="!step.comments || step.comments.length === 0" style="color:#ccc">{{ 'Enter comments here' }}</pre>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
