<div class="container form" id="procedures">
    <div class="container list">
        <table class="table table-hover">
            <thead>
                <tr class="tablerowstyle" style="background-color: #ddd">
                    <th>
                        <a href="#" ng-click="sortType = 'procedurerevision'; sortReverse = !sortReverse">Revision
                            <span ng-show="sortType == 'procedurerevision' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedurerevision' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'procedureopenedby'; sortReverse = !sortReverse">Opened By
                            <span ng-show="sortType == 'procedureopenedby' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedureopenedby' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'procedurestarted'; sortReverse = !sortReverse">Started
                            <span ng-show="sortType == 'procedurestarted' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedurestarted' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="centerCols">
                        <a href="#" >View
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody class="details" ng-show="livelist.length > 0 && loadstatus === false" style="background: #fcfefc">
                <tr ng-repeat="procedure in livelist | orderBy:'-revision' | orderBy:sortType:sortReverse">
                    <td>{{ procedure.revision }}</td>
                    <td>{{ procedure.openedBy }}</td>
                    <td>{{ procedure.startedAt }}</td>
                    <td class="centerCols">
                        <a href="/dashboard/procedure/runninginstance/{{procedureid}}/{{procedure.revision}}"><span class="fa fa-caret-right"></span></a>
                    </td>
                </tr>
            </tbody>
            <tbody class="details" ng-show="livelist.length === 0 && loadstatus === false" style="background: #fcfefc">
                <tr>
                    <td colspan="6" style="text-align:center">No live procedure instances available.</td>
                </tr>
            </tbody>
            <tbody class="details" ng-show="loadstatus === true">
                <tr>
                    <td colspan="6" style="text-align:center;background: #fcfefc">
                        <div class="loading-spiner" ng-show="loadstatus === true"><img src="../../../media/gifs/tenor (3).gif" style="width:100px"/> </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
