/*!
 * Custom CSS for dashboard page 
 */
body {
    overflow-x: hidden;
    background-color: #F2F3F4;
    font-family: "Open Sans", Sans-serif; 
}
#QLogoWhite {
    display:none;
}

#QIconBlack{
    display:none;
}

#QIconWhite{
    display:none;
}

.container {
    margin-left:0;
    margin-right:0;
}

#procedures {
    width:100%;
}

.container.list{
    width:100%;
}

.browsefile{
    display:none !important;
}

.navbar {
    border: 0 none;
    border-bottom: 3px solid #CFCFD5;
    text-align: center; 
    height: 53px;
}

.navbar .navbar-nav {
    display:inline-block;
    float: none;
}

.navbar-default {
    background-color: white;
}

img#main-img1 {
    height:20px;
    margin:15px;
}

img#main-img2 {
    height:20px;
    margin:10px;
}

#headercenter{
    margin-top:15px;
}

a#QRegular.navbar-brand {
    padding:0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
    padding-left:15px;
}

.navbar-brand {
    padding: 5px 5px;
}

#config-bar {
    background-color: #07D1EA;
    color: white;
    margin-right:0px;
    height: 50px;
    margin-top: 0px;
}

img#main-img1:focus {
    outline:auto 0px;
}

img#main-img2:focus{
    outline:auto 0px;
}

img.search-icon:focus {
    outline:auto 0px;
}

.status-bar {
    padding-left:10px;
    padding-right:10px;
} 

.bars {
    padding-top: 8px;
    padding-bottom: 8px;
}

#top-header {
    padding-right: 0px;
    padding-left: 0px;
}

a#username.dropdown-toggle {
    font-size:18px;/*22px*/
    color:black;
    display:inline-block;
    margin-top: 0px;
    padding-bottom: 0px;
}

.navbar-default .navbar-nav>.open>a#username{
    background:none !important;
}

.logout-bar {
    min-width: 128px;
    border-radius:0;
}

#callsign {
    display: block;
    color: black;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
}

ul.nav.navbar-nav.navbar-right {
    height: 50px;
}

#cfgmenu {
    height:50px;
}

div.upload_form_row,div.upload_form_row span.btn.btn-primary,div.upload_form_row input.btn.btn-primary.upload{
    border-radius:0px;
}

div.upload_form_row input.form-control{
    border-radius:0px;
}

div.uploadlabel{
    line-height:1.9em;
    text-align:right;
    padding:4px
}

table td.centerCols,th.centerCols{
    text-align: center;
}

.tablerowstyle{
    border-top:2px solid gainsboro;
    border-bottom:1px solid #ccc;
}

.procheader{
    display:none;
}

label{
    font-weight: 200;
}
.row {
    margin-left:0px;
    margin-right:0px;
}

.contentList{
    list-style-type: none;
    padding-left:0px;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        margin-top: 5px;
        padding-top: 10px; 
        padding-bottom: 10px; 
    }
}

@media only screen and (max-width: 736px) {
  /* For mobile phones: */
    #QRegular {
        display:none;
    }
    div.uploadlabel{
        line-height:3em !important;
        text-align:right;
        padding:2px !important
    }

    #QLogoWhite {
        display:none;
    }
    #QIconBlack{
        display:inline-block;
    }
    .container-fluid>.navbar-header {
        margin-left: 0px;
    }
    table{
        font-size:6px;
    }
    .table>tbody>tr>td{
        padding:3px !important;
        vertical-align: middle;
    }

    div#top-header.container-fluid{
        height:100%;
        font-size:8px;
    }
    div#headerleft.navbar-header{
        position: absolute
    }
    #headercenter{
        margin-top:20px;
    }

    input[type=checkbox]{
        height:10px;
    }

    div.upload_form_row,div.upload_form_row span.btn.btn-primary,div.upload_form_row input.btn.btn-primary.upload{
        font-size:6px;
        border-radius:0px;
    }

    div.upload_form_row input.form-control{
        height:22px;
        border-radius:0px;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 6px 12px;
    }

    .navbar-brand>img#mbl-main-img1 {
        height:100%;
        padding-left:0px;
        padding-right:0px;
        margin-bottom:0;
        padding-bottom:0;
        margin-top:0px;
    }

    .navbar-brand>img#mbl-main-img2 {
        height:100%;
        padding-left:0px;
        padding-right:0px;
        margin-bottom:0;
        padding-bottom:0;
        margin-top:0px;
    }

    ul.nav.navbar-nav {
        padding:0;
        margin:0;
    }

    ul.nav.navbar-nav.navbar-right {
        position:absolute;
        top:0;
        right:-10px;
        display:inline;
    }

    a#username.dropdown-toggle {
        display:none;
    }

    a#config-bar {
        width:100%;
        position:relative;
    }

    li.open {
        width:75%;
    }

    li#cfgmenu {
        font-size:16px;  
        margin-right: 10px; 
    }

    #callsign {
        display: none;
    }

    .bars {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    li#pname{
        left:-7px;
    }
    table td.centerCols{
        text-align: center;
    }

}

@media only screen and (min-width: 736px) and (max-width: 768px) {
    a#username.dropdown-toggle {
        display:none;
    }

    #callsign{
        display: none;
    }
}   

@media only screen and (min-width: 320px) and (max-width: 374px) {
    table{
        font-size:5px;
    }
}  

@media only screen and (min-width: 768px){
    .navbar-right {
        margin-right: 0px !important;
    }
    #QRegularMbl{
        display:none;
    }
}

::-webkit-scrollbar { 
    display: none; 
}
