/*!
 * Custom CSS for dashboard page 
 */
body {
    overflow-x: hidden;
    background-color: #F2F3F4;
    font-family: "Open Sans", Sans-serif; 
}
#QLogoWhite {
    display:none;
}

#QIconBlack{
    display:none;
}

#QIconWhite{
    display:none;
}

.container {
    margin-left:0;
    margin-right:0;
}

#procedures {
    width:100%;
}

.container.list{
    width:100%;
}

.browsefile{
    display:none !important;
}

.navbar {
    border: 0 none;
/*    border-bottom: 1px solid #CFCFD5;*/
    text-align: center; 
    height: 50px;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.navbar .navbar-nav {
    display:inline-block;
    float: none;
}

.navbar-default {
    background-color: white;
}

img#main-img1 {
    height:20px;
    margin:15px;
}

img#main-img2 {
    height:20px;
    margin:10px;
}

#headercenter{
    margin-top:15px;
}

a#QRegular.navbar-brand {
    padding:0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
    padding-left:15px;
}

.navbar-brand {
    padding: 5px 5px;
}

#config-bar {
    background-color: #07D1EA;
    color: white;
    margin-right:0px;
    height: 50px;
    margin-top: 0px;
}

img#main-img1:focus {
    outline:auto 0px;
}

img#main-img2:focus{
    outline:auto 0px;
}

img.search-icon:focus {
    outline:auto 0px;
}

.status-bar {
    padding-left:10px;
    padding-right:10px;
} 

.bars {
    padding-top: 8px;
    padding-bottom: 8px;
}

#top-header {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 16px;
}

a#username.dropdown-toggle {
    font-size:16px;
    color:black;
    display:inline-block;
    margin-top: 0px;
    padding-bottom: 0px;
}

.navbar-default .navbar-nav>.open>a#username{
    background:none !important;
}

.logout-bar {
    min-width: 128px;
    border-radius:0;
    margin-right: 2px;
}

#callsign {
    display: block;
    color: black;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
}

ul.nav.navbar-nav.navbar-right {
    height: 50px;
}

#cfgmenu {
    height:50px;
    display:none;
}

div.upload_form_row,div.upload_form_row span.btn.btn-primary,div.upload_form_row input.btn.btn-primary.upload{
    border-radius:0px;
}

div.upload_form_row input.form-control{
    border-radius:0px;
}

div.uploadlabel{
    line-height:1.9em;
    text-align:right;
    padding:4px
}

table td.centerCols,table th.centerCols{
    text-align: center;
}

.tablerowstyle{
    border-top:2px solid gainsboro;
    border-bottom:1px solid #ccc;
}

.procheader{
    display:none;
}

label{
    font-weight: 200;
}
.row {
    margin-left:0px;
    margin-right:0px;
}

.contentList{
    list-style-type: none;
    padding-left:0px;
}

button.md-action{
   color:#07d1ea !important; 
}

.infoNotification{
    top:-68px;
}

button.inputsetbuttton{
    background: #337ab7;
    color:white;
    border:none;
    padding:3px 6px;
}

.configmenu{
    margin-right:0px !important;
}

/* scrollable procedure list styles*/
.procedureTable{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: #cccccc40;
 }
.tbl-content{
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 10px 5px;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
td{
    padding: 5px;
    text-align: left;
    vertical-align:middle;
    font-size: 16px;
    color: #000;
    border-bottom: solid 1px #ddd;
}
.tbl-index-content{
    height:600px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

.procedurescontainer section{
    padding-left:25px !important;
    padding-right: 25px !important;
}

.procedurescontainer {
    padding-top:90px;
}

.formcontainer1{
    height:40px;
    line-height: 2.5em;
    background: #cccccc40;
    color:#337ab7;
    text-transform: uppercase;
    font-size:16px;
}

.formcontainer2{
    padding-top:35px;
}

.fa-lower-right {
    left: 3px !important;
    top: -12px !important;
    font-size: 0.75em;
}
.fa-upper-left {
    left: 0px !important;
    top: -8px !important;
}
.fa-stack-15x {
    font-size: 1.0em;
}

.fa-stack-15 {
    height: inherit;
}

.fa-stack{
    width: 1em;
}

.iconDisplay{
    font-size: 20px;
}

/* end of scrollable procedure list styles*/

div.indexList{
    min-width:110px !important;
    font-size: 13px;
    border-radius:0;
}

div.indexList i {
    padding:5px;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        margin-top: 5px;
        padding-top: 10px; 
        padding-bottom: 10px; 
    }
}

@media only screen and (max-width: 736px) {
  /* For mobile phones: */
    #QRegular {
        display:none;
    }
    div.uploadlabel{
        line-height:3em !important;
        text-align:right;
        padding:2px !important
    }

    #QLogoWhite {
        display:none;
    }
    #QIconBlack{
        display:inline-block;
    }
    .container-fluid>.navbar-header {
        margin-left: 0px;
    }
    table{
        font-size:6px;
    }
    .table>tbody>tr>td{
        padding:3px !important;
        vertical-align: middle;
    }

    div#top-header.container-fluid{
        height:100%;
        font-size:8px;
    }
    div#headerleft.navbar-header{
        position: absolute
    }
    #headercenter{
        margin-top:20px;
    }

    input[type=checkbox]{
        height:10px;
    }

    div.upload_form_row,div.upload_form_row span.btn.btn-primary,div.upload_form_row input.btn.btn-primary.upload{
        font-size:8px;
        border-radius:0px;
    }

    div.upload_form_row input.form-control{
        height:25px;
        border-radius:0px;
        font-size:6px;
    }
    #toaster div.md-toast-content{
        font-size:6px;
    }

    #toaster button.md-action{
         font-size:6px;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 6px 12px;
    }

    .navbar-brand>img#mbl-main-img1 {
        height:100%;
        padding-left:0px;
        padding-right:0px;
        margin-bottom:0;
        padding-bottom:0;
        margin-top:0px;
    }

    .navbar-brand>img#mbl-main-img2 {
        height:100%;
        padding-left:0px;
        padding-right:0px;
        margin-bottom:0;
        padding-bottom:0;
        margin-top:0px;
    }

    ul.nav.navbar-nav {
        margin:0;
    }

    ul.nav.navbar-nav.navbar-right {
        position:absolute;
        top:0;
        right:0px;
        display:inline;
    }

    a#username.dropdown-toggle {
        font-size:12px;
    }

    a#config-bar {
        width:100%;
        position:relative;
    }

    li#cfgmenu {
        font-size:10px;  
        margin-right: 10px; 
    }

    #callsign {
       font-size:10px;
    }

    ul.configmenu{
       /* padding:5px;*/
    }

    .bars {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    li#pname{
        left:-7px;
    }
    table td.centerCols{
        text-align: center;
    }

    table td.commentsCol pre{
        font-size: 6px;
        padding:5.5px;
        margin-top:6px;
        margin-bottom:6px;
    }

    table td.commentsCol span{
        font-size: 8px;
        padding:2px 3px;
        margin-top:1px;
    }

    table td.commentsCol span span.glyphicon{
        top: -2px;
    }


    table td.commentsCol button{
        padding:0px 4px;
    }

    textarea {
        font-size:10px !important;
        padding:2px !important;
        margin-top:3px !important;
    }

    div#toaster{
        margin-top:50px;
        font-size:8px; 
    }
    .infoNotification{
        top:-28px;
    }

    div.md-toast-content,button.md-action{
        font-size:8px !important;
    }

    .inputNotification{
        top:50px;
    }
    #procedures th{
        padding:3px !important;
    }

    .navbar-default{
        margin-bottom:10px !important;
    }

    .indexbuttons ul{
        margin-bottom:5px;
    }

    th{
        padding: 5px 4px;
        text-align: left;
        font-weight: bold;
        font-size: 7px;
        color: #fff;
        text-transform: uppercase;
    }
    td{
        padding: 2px;
        text-align: left;
        vertical-align:middle;
        font-size: 7px;
        color: #000;
        border-bottom: solid 1px #ddd;
    }

    .formcontainer1{
        height:20px;
        line-height: 3.2em;
        background: #cccccc40;
        color:#337ab7;
        text-transform: uppercase;
        font-size: 7px;
    }

    .formcontainer2{
        padding-top:35px;
    }
    .form-control {
        padding:6px 10px;
    }
    .pagination{
        font-size:6px;
        margin:15px 0;
    }

    div.indexList{
        min-width:75px !important;
        font-size: 8px;
    }

    .indexbuttons .btn{
        padding:3px 4px !important;
        font-size: 10px;
    }

    .navbar-nav .open .dropdown-menu.logout-bar{
        position:absolute !important;
        background-color:#fff;
        border-radius:0;
        border:1px solid rgba(0, 0, 0, 0.15);
        min-width:85px !important;
        font-size:10px;
    }

    .navbar-nav .open .dropdown-menu.logout-bar>li>a {
        line-height:15px !important;
        padding:3px 6px !important;
        color:#000000de;
    }

    .iconDisplay{
        font-size: 10px;
    }

    .fa-lower-right {
        left: 1px !important;
        top: -6px !important;
        font-size: 0.75em;
    }
    .fa-upper-left {
        left: 0px !important;
        top: -4px !important;
    }

}

@media only screen and (min-width: 736px) and (max-width: 768px) {
    section{
        line-height: 1.1;
    }

    .indexbuttons ul{
        margin-bottom:6px;
    }
    a#username.dropdown-toggle {
       font-size:16px;
    }

    .logout-bar{
        min-width:100px;
        font-size: 12px;
    }

    #callsign{
        font-size:10px;
    }

    table td.commentsCol button{
        padding:4px 8px !important;
    }

    a.indexBtns {
        font-size: 14px !important;
    }

    div#toaster{
        margin-top:50px;
    }

    md-toast{
        width:400px;
    }

    .infoNotification{
        top:-28px;
        font-size:10px;
    }

    div.md-toast-content{
        font-size:10px;
    }

    .inputNotification{
        top:50px;
    }

    th{
        padding: 8px 4px;
        text-align: left;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
    }
    td{
        text-align: left;
        vertical-align:middle;
        font-size: 10px;
        color: #000;
        border-bottom: solid 1px #ddd;
    }

    .formcontainer1{
        height:35px;
        line-height: 3;
        background: #cccccc40;
        color:#337ab7;
        text-transform: uppercase;
        font-size: 12px;
    }

    .formcontainer2{
        padding-top:35px;
    }

    .pagination{
        font-size:10px;
    }
    .form-control{
        font-size:12px;
    }

    div.indexList{
        min-width:90px !important;
        font-size: 8px;
        padding: 1px 0;
    }

    .indexbuttons .btn{
        padding:3px 6px !important;
    }

    .fa-lower-right {
        left: 3px !important;
        top: -8px !important;
        font-size: 0.75em;
    }
    .fa-upper-left {
        left: 0px !important;
        top: -6px !important;
    }

    .iconDisplay{
        font-size: 16px;
    }

}   

@media only screen and (min-width: 320px) and (max-width: 374px) {
    table{
        font-size:5px;
    }
}  

@media only screen and (min-width: 768px){
    .navbar-right {
        margin-right: 0px !important;
    }
    #QRegularMbl{
        display:none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    section{
        line-height:1.1;
    }
    
}

::-webkit-scrollbar { 
    display: none; 
}
