.md-sidenav-right {
    background-color: #020613;
}

md-list .md-subheader { 
    height: 40px ;
    min-height: 40px ;
    background-color: #020613 !important;
}

.md-subheader .md-subheader-inner {
    padding: 12px;
    color: #ccc;
}

md-toolbar {
    background-color: #020613 !important;
    /*border-bottom: 3px solid #07D1EA;*/
    height: 53px;
    min-height: 50px;
}

md-content#right {
    color: #ccc;
    background-color: #020613;
}

md-list-item, md-list-item .md-list-item-inner { 
    height: 40px !important;
    min-height: 40px !important;
}

md-list {
    padding: 0px 0px 0px 0px !important;
}

md-list-item:hover {
    background-color: #242833 !important;
}

md-list-item .md-list-item-inner:hover {
    background-color: #242833 !important;
}

md-list-item:hover {
    color: #fff;
/*    border-left: 4px solid #07D1EA;*/
}

/*.md-button:not([disabled]):hover {
    background-color: #242833;
}
*/
/*.md-list-item:not([disabled]):hover  {
    background-color: #242833;
}*/

md-divider {
    border-top-width: 2px;
    background-color: #4d4d4d;
}

.show-hide {
    display: none;
}

.show-flex {
    display: none;
}

md-content.main {
    overflow-x: hidden; 
}

md-toolbar {
    background-color: #020613 !important;
   /* border-top: 1px solid #337ab7;*/
   /* border-bottom: 1px solid #337ab7;*/
/*    border-bottom: 1px solid #ccc;*/
    height: 38px !important;
    min-height: 38px !important;
    font-size: 16px !important;
}

md-toolbar-tools {
    font-size: 16px !important;
    padding: 0 8px !important;
}

@media only screen and (max-width: 768px) {
    .show-hide {
        display: block;
    }

    .show-flex {
        display: flex;
     }

    h1.md-toolbar-tools{
        font-size:16px;
    }
    div.md-subheader-inner{
        font-size:14px;
    }
}
