<!-- Right Side Nav  -->
<md-content flex role="navigation" id="right">
    <md-list>
        <md-divider class="show-hide"></md-divider>
        <md-list-item class="list1">
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="$ctrl.showUploadModal($event)" class="list1">
            <span class="fa fa-upload list1Icon"></span>
            <p class=" list1 dataItem listItemFonts">Upload Procedure</p>
            <span flex></span>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item class="list1" href="/dashboard/procedure/running/{{$ctrl.procedure.id}}" ng-show="$ctrl.location.liveindexStatus">
            <span class="fa fa-list-alt list1Icon"></span>
            <p class=" list1 dataItem listItemFonts">Live Index</p>
            <span flex></span>
        </md-list-item>
        <md-divider ng-show="$ctrl.location.liveindexStatus"></md-divider>
        <md-list-item class="list1" href="/dashboard/procedure/archived/{{$ctrl.procedure.id}}" ng-show="$ctrl.location.archiveindexStatus">
            <span class="fa fa-list-alt list1Icon"></span>
            <p class=" list1 dataItem listItemFonts">Archive Index</p>
            <span flex></span>
        </md-list-item>
        <md-divider ng-show="$ctrl.location.archiveindexStatus"></md-divider>
        <md-list-item class="list1" ng-show="$ctrl.location.userListStatus" ng-click="$ctrl.showUsers()">
            <i class="fa fa-users list1Icon" aria-hidden="true"></i>
            <p class=" list1 dataItem listItemFonts">Users</p>
            <span flex></span>
            <span class="glyphicon glyphicon-menu-down listItemFonts"></span>
        </md-list-item>
        <md-divider ng-show="$ctrl.location.userListStatus"></md-divider>
        <md-list ng-show="$ctrl.userMenu">
            <md-list-item ng-repeat="user in $ctrl.userList.online track by user.email" class="list2" ng-show="$ctrl.userMenu && $ctrl.userList.online.length > 0 && $ctrl.location.userListStatus">
                <i class="fa fa-circle" aria-hidden="true" style="margin-right:5px;color:#12C700"></i>{{user.name}} ({{user.role.callsign}})
                 <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="list2" ng-show="$ctrl.userMenu && $ctrl.userList.online.length === 0 && $ctrl.location.userListStatus">
                No Users Online
            </md-list-item>
            <md-divider ng-show="$ctrl.location.userListStatus"></md-divider>
        </md-list>
        <md-divider class="show-hide"></md-divider>
        <md-list-item href="https://apps.audacy.space:8443/display/SOFT/Quantum#" target="_blank" class="list1">
            <span class="fa fa-file-text-o list1Icon"></span>
            <p class=" list1 dataItem listItemFonts">Documentation</p>
            <span flex></span>
        </md-list-item>
        <md-divider ></md-divider>
    </md-list>
</md-content>
<!-- End of Right Side Nav  -->

