<!-- Right Side Nav  -->
<md-toolbar>
</md-toolbar>
<md-content flex role="navigation" id="right">
    <md-list ng-show="$ctrl.userList.online.length > 0">
        <md-list-item ng-repeat="user in $ctrl.userList.online track by user.email" id="list3">
            <i class="fa fa-circle" aria-hidden="true" style="margin-right:5px;color:#12C700"></i>{{user.name}} ({{user.role.callsign}})
             <md-divider></md-divider>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
    <md-list ng-show="$ctrl.userList.online.length === 0">
        <md-list-item >
            No Users Online
             <md-divider></md-divider>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
</md-content>
<!-- End of Right Side Nav  -->
