<section>
  <!--for demo wrap-->
  <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0" class="procedureTable">
            <thead>
                <tr>
                    <th>
                        <a href="#" ng-click="sortType = 'procedurerevision'; sortReverse = !sortReverse">Revision
                            <span ng-show="sortType == 'procedurerevision' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedurerevision' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'procedureopenedby'; sortReverse = !sortReverse">Opened By
                            <span ng-show="sortType == 'procedureopenedby' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedureopenedby' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'procedureclosedby'; sortReverse = !sortReverse">Closed By
                            <span ng-show="sortType == 'procedureclosedby' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedureclosedby' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'procedurestarted'; sortReverse = !sortReverse">Started
                            <span ng-show="sortType == 'procedurestarted' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedurestarted' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'procedurecompleted'; sortReverse = !sortReverse">Completed
                            <span ng-show="sortType == 'procedurecompleted' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedurecompleted' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="centerCols">
                        <a href="#">View</a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-index-content">
        <table cellpadding="0" cellspacing="0" border="0" class="procedureTable table-hover">
            <tbody class="details" ng-show="archivedlist.length > 0 && loadstatus === false" style="background: #fcfefc">
                <tr dir-paginate="procedure in archivedlist | orderBy:'-revision' | orderBy:sortType:sortReverse | itemsPerPage:10">
                    <td>{{ procedure.revision }}</td>
                    <td>{{ procedure.openedBy }}</td>
                    <td>{{ procedure.closedBy }}</td>
                    <td>{{ procedure.startedAt }}</td>
                    <td>{{ procedure.completedAt }}</td>
                    <td class="centerCols">
                          <a href="/dashboard/procedure/archivedinstance/{{procedureid}}/{{procedure.revision}}" ng-click="changeColor('AS-Run Archive',procedureid,proceduretitle);"><span class="fa fa-caret-right"></span></a>
                    </td>
                </tr>
            </tbody>
            <tbody class="details" ng-show="archivedlist.length === 0 && loadstatus === false" style="background: #fcfefc">
                <tr>
                    <td colspan="6" style="text-align:center">No archived procedure instances available.</td>
                </tr>
            </tbody>
            <tbody class="details" ng-show="loadstatus === true">
                <tr>
                    <td colspan="6" style="text-align:center;background: #fcfefc">
                        <div class="loading-spiner" ng-show="loadstatus === true"><img src="../../../media/gifs/tenor (3).gif" style="width:100px"/> </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"  style="float:right"></dir-pagination-controls>
    </div>
</section>
