<div layout-fill layout="vertical">
    <section flex layout="horizontal">
        <!--Main Dashboard Navigation-->
        <md-content flex class="main">
            <div id="main">
                <nav class="navbar navbar-default">
                    <div class="container-fluid" id="top-header" ng-style="$ctrl.header.styles">
                        <div class="navbar-header" id="headerleft">
                            <a class="navbar-brand" href="/dashboard" id="QRegular" ng-style="$ctrl.icons.icon1style" ng-click="$ctrl.setColor()">
                                <img id="main-img1" src="/media/logos/Quantum_Logo_Regular.png" alt="Quantum"/>
                            </a>
                            <a class="navbar-brand" href="/dashboard" id="QBlack" ng-style="$ctrl.icons.icon2style" ng-click="$ctrl.setColor()">
                                <img id="main-img2" src="/media/logos/Quantum_Logo_White.png" alt="Quantum"/>
                            </a>
                        </div>
                        <ul class="nav navbar-nav" id="headercenter">
                            <li>
                                <ul class="nav navbar-nav time">
                                    <li>{{ $ctrl.procedure.fullname}}</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li  id="headerright">
                                <a class="dropdown-toggle" id="username" ng-style="$ctrl.header.styles" data-toggle="dropdown" href="#"
                                >{{$ctrl.name}}</a>
                                <small id="callsign" ng-style="$ctrl.header.styles"> {{ $ctrl.role.cRole.callsign }} </small>
                                <ul class="dropdown-menu logout-bar">
                                    <li ><a href="" ng-click="$ctrl.logout()" target="_self">Logout</a></li>
                                </ul>
                            </li>
                            <li id="cfgmenu">
                                <a href="#" id="add-widget"> 
                                    <span class="fa fa-bars bars" aria-hidden="true"> </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!--Procedures -->
                <div class="container-fluid">
                    <div ng-view></div>
                </div>

                <!-- Dashboard Footer -->
                <footer class="footer">
                    <div class="container">
                        <p class="text-muted"></p>
                    </div>
                </footer>
            </div>
        </md-content>
        <!--End Main Dashboard Navigation-->
    </section>
</div>