<div layout-fill layout="vertical">
    <section flex layout="horizontal">
        <!--Main Dashboard Navigation-->
        <md-content flex class="main">
            <div id="main">
                <nav class="navbar navbar-default navbar-fixed-top" style="background: #fcfefc">
                    <div class="container-fluid" id="top-header" ng-style="$ctrl.header.styles">
                        <div class="navbar-header" id="headerleft">
                            <a class="navbar-brand" href="/dashboard" id="QRegular" ng-style="$ctrl.icons.icon1style" ng-click="$ctrl.setColor()">
                                <img id="main-img1" src="/media/logos/Quantum_Logo_Regular.png" alt="Quantum"/>
                            </a>
                            <a class="navbar-brand" href="/dashboard" id="QLogoWhite" ng-style="$ctrl.icons.icon2style" ng-click="$ctrl.setColor()">
                                <img id="main-img2" src="/media/logos/Quantum_Logo_White.png" alt="Quantum"/>
                            </a>
                            <a class="navbar-brand" href="/dashboard" id="QIconBlack" ng-style="$ctrl.icons.icon3style" ng-click="$ctrl.setColor()">
                                <img id="mbl-main-img1" src="/media/logos/Quantum_Icon_Regular.png" alt="Quantum"/>
                            </a>
                            <a class="navbar-brand" href="/dashboard" id="QIconWhite" ng-style="$ctrl.icons.icon4style" ng-click="$ctrl.setColor()">
                                <img id="mbl-main-img2" src="/media/logos/Quantum_Icon_White.png" alt="Quantum"/> 
                            </a>
                        </div>
                        <ul class="nav navbar-nav" id="headercenter">
                            <li id="pname">
                                <ul class="nav navbar-nav">
                                    <li>{{ $ctrl.procedure.fullname}}</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right configmenu">
                            <li  id="headerright">
                                <a class="dropdown-toggle" id="username" ng-style="$ctrl.header.namestyles" data-toggle="dropdown" href="#"
                                >{{$ctrl.name}}</a>
                                
                                <small id="callsign" ng-style="$ctrl.header.namestyles"> <i class="fa fa-circle" aria-hidden="true" style="margin-right:5px;color:#12C700"></i>{{ $ctrl.role.cRole.callsign }} </small>
                                <ul class="dropdown-menu logout-bar">
                                    <li ><a href="" ng-click="$ctrl.logout()" target="_self"><span class="fa fa-sign-out" style="padding-right: 5px"></span><span>Logout</span></a></li>
                                    <li ><a href="#" ng-click="$ctrl.showSettings()"><span class="fa fa-cog" style="padding-right: 5px"></span><span>Settings</span></a></li>
                                    <li ><a href="#" ng-click="$ctrl.showAdminMenu()" ng-show="$ctrl.role.cRole.callsign == 'MD'"><span class="fa fa-user-plus" style="padding-right: 5px"></span><span>User Administration</span></a></li>
                                </ul>
                            </li>
<!--                             <li id="headerright">
                                <a href="#" id="add-widget" class="dropdown-toggle" data-toggle="dropdown" ng-click="$ctrl.openRightNav()"> 
                                    <span class="fa fa-bars bars" aria-hidden="true"> </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ><a href="" ng-click="$ctrl.logout($event)" class="userSettings" target="_self"><span class="fa fa-upload" style="padding-right: 5px"></span><span>Upload</span></a></li>
                                    <li ><a href="#" ng-click="$ctrl.showSettings()" class="userSettings"><span class="fa fa-users" style="padding-right: 5px"></span><span>Users</span></a></li>
                                    <li ><a href="#" ng-click="$ctrl.showSettings()" class="userSettings"><span class="fa fa-list" style="padding-right: 5px"></span><span>Live Index</span></a></li>
                                    <li ><a href="#" ng-click="$ctrl.showSettings()" class="userSettings"><span class="fa fa-archive" style="padding-right: 5px"></span><span>Archive Index</span></a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                </nav>

                <!--Procedures -->
                <div class="container-fluid procedurescontainer">
                    <div ng-view></div>
                    <div class="bootrightsidemenu bootsidemenu default bootsidemenu-right" ng-click="$ctrl.openRightNav()">
                        <div class="toggler" data-whois="toggler"><span class="glyphicon glyphicon-menu-right icon">&nbsp;</span></div>
                    </div>

                </div>

                <!-- Dashboard Footer -->
                <footer class="footer">
                    <div class="container">
                        <p class="text-muted"></p>
                    </div>
                </footer>
            </div>
        </md-content>
        <!--End Main Dashboard Navigation-->

        <!-- Right Sidebar -->
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$ctrl.locks.lockRight" style="margin-top: 50px">
            <right-sidebar></right-sidebar>
        </md-sidenav>
        
    </section>
</div>