<div class="container form" style="width:100%">
    <div class="container list" style="width:100%">
        <table class="table table-hover">
            <thead>
                <tr style="border-top:2px solid gainsboro;border-bottom:1px solid #ccc;">
                    <th>
                        <a href="#" ng-click="sortType = 'procedurenum'; sortReverse = !sortReverse">No
                            <span ng-show="sortType == 'procedurenum' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedurenum' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'proceduretitle'; sortReverse = !sortReverse">Title
                            <span ng-show="sortType == 'proceduretitle' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'proceduretitle' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'procedurelastuse'; sortReverse = !sortReverse">Last Use
                            <span ng-show="sortType == 'procedurelastuse' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedurelastuse' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'procedurerunning'; sortReverse = !sortReverse">Running
                            <span ng-show="sortType == 'procedurerunning' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedurerunning' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'procedurearchived'; sortReverse = !sortReverse">Archived
                            <span ng-show="sortType == 'procedurearchived' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedurearchived' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'procedureactions'; sortReverse = !sortReverse">Actions
                            <span ng-show="sortType == 'procedureactions' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'procedureactions' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody class="details">
                <tr ng-repeat="procedure in procedurelist | orderBy:'id' | orderBy:sortType:sortReverse">
                    <td>{{ procedure.id }}</td>
                    <td>{{ procedure.title }}</td>
                    <td>{{ procedure.lastuse }}</td>
                    <td><a href="/dashboard/procedure/{{procedure.id}}">{{ procedure.running }}</a></td>
                    <td><a href="/dashboard/procedure/{{procedure.id}}">{{ procedure.archived }}</a></td>
                    <td>
                        <a><span class="fa fa-caret-down"></span></a>&nbsp;&nbsp;
                        <a><span class="fa fa-caret-right"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <form name="upload_form" enctype="multipart/form-data">
            <div layout="row" layout-wrap>
                <div flex="33" style="line-height:2.1em;text-align:right;padding:4px">Upload</div>
                <div flex="33">  
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                            Browse 
                            <input type="file" id="file" ngf-select ng-model="config.file" name="file" 
                            ngf-pattern="'.xlsx'" accept=".xlsx" ngf-max-size="1MB" style="display: none;">
                            </span>
                        </label>
                        <input type="text" class="form-control" value="{{ config.file.name }}" readonly>
                    </div>
                </div>
                <div flex="33">
                    <input type="submit" ng-click="submit()" class="btn btn-primary upload" value="Add">
                </div>
            </div>
        </form>
    </div>
</div>