<section>
  <!--for demo wrap-->
  <div class="tbl-header" style="font-size:16px">
    <table cellpadding="0" cellspacing="0" border="0" class="procedureTable">
        <thead>
            <tr>
                <th style="width:10%">
                    <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">No.
                        <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th style="width:40%">
                    <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">Title
                        <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th style="width:15%">
                    <a href="#" ng-click="sortType = 'lastuse'; sortReverse = !sortReverse">Last Use
                        <span ng-show="sortType == 'lastuse' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'lastuse' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="centerCols" style="width:15%">
                    <a href="#" ng-click="sortType = 'running'; sortReverse = !sortReverse">Running
                        <span ng-show="sortType == 'running' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'running' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="centerCols" style="width:15%">
                    <a href="#" ng-click="sortType = 'archived'; sortReverse = !sortReverse">Archived
                        <span ng-show="sortType == 'archived' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'archived' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="centerCols" style="width:15%">
                    <a href="#">Actions
                    </a>
                </th>
            </tr>
        </thead>
    </table>
  </div>
  <div class="tbl-content" style="font-size:16px">
        <table cellpadding="0" cellspacing="0" border="0" class="procedureTable table-hover">
            <tbody ng-show="procedurelist.length > 0 && loadstatus === false" style="background: #fcfefc">
                <tr dir-paginate="procedure in procedurelist | orderBy:sortType:sortReverse |itemsPerPage:15">
                    <td style="width:10%">{{ procedure.id }}</td>
                    <td style="width:40%">{{ procedure.title }}</td>
                    <td style="width:15%">{{ procedure.lastuse }}</td>
                    <td class="centerCols" style="width:15%"><a href="/dashboard/procedure/running/{{procedure.id}}" ng-click="changeColor('Live',procedure.id,procedure.title,false);">{{ procedure.running }}</a></td>
                    <td class="centerCols" style="width:15%"><a href="/dashboard/procedure/archived/{{procedure.id}}" ng-click="changeColor('Archived',procedure.id,procedure.title,false);">{{ procedure.archived }}</a></td>
                    <td class="centerCols" style="width:15%">
                        <a href="#" ng-click="showEditModal(procedure)">
                            <span class="fa fa-edit" title="Edit procedure name"></span>
                        </a>&nbsp;&nbsp;
                        <a ng-click="download(procedure.id, procedure.title)" href="">
                            <span class="fa fa-download" title="Download procedure"></span>
                        </a>&nbsp;&nbsp;
                        <a href="/dashboard/procedure/{{procedure.id}}" ng-click="changeColor('Live',procedure.id,procedure.title,true);">
                            <span class="fa fa-caret-right" style="font-size: 20px" title="Start procedure"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody class="details" ng-show="procedurelist.length === 0 && loadstatus === false" style="background: #fcfefc">
                <tr>
                    <td colspan="6" style="text-align:center">No procedures available.</td>
                </tr>
            </tbody>
            <tbody class="details" ng-show="loadstatus === true">
                <tr>
                    <td colspan="6" style="text-align:center;background: #fcfefc">
                        <div class="loading-spiner" ng-show="loadstatus === true"><img src="../../../media/gifs/tenor (3).gif" style="width:100px"/> </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" class="pagination" style="float:right"></dir-pagination-controls>
    </div>
</section>
<section style="height:200px;margin-top:50px">
    <div style="height:100%;background: #fcfefc">
        <form name="upload_form" enctype="multipart/form-data"  >
            <div layout="row" layout-wrap class="formcontainer1">
               <div flex="99" style="padding:0px 5px"><label><b>Upload a procedure</b></label> </div>
            </div>
            <div layout="row" layout-wrap class="upload_form_row formcontainer2">
                <div flex="15" class="uploadlabel"></div>
                <div flex="65"> 
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                            Browse 
                            <input type="file" id="file" ngf-select ng-model="config.file" name="file" 
                            ngf-pattern="'.xlsx'" accept=".xlsx" ngf-max-size="1MB" class="browsefile">
                            </span>
                        </label>
                        <input type="text" class="form-control" value="{{ config.file.name }}" placeholder="Filename format:  index - event - proceduretitle.xlsx" style="background: #fafafa !important" readonly>
                    </div>
                </div>
                <div flex="20">
                    <input type="submit" ng-click="submit()" class="btn btn-primary upload" value="Add">
                </div>
            </div>
            <div layout="row" layout-wrap>
               <div flex="15"></div>
               <div flex="65" id="toaster"></div>
               <div flex="20"></div> 
            </div>
        </form>
    </div>
</section>
