<section>
  <!--for demo wrap-->
  <div class="tbl-header" style="font-size:16px">
    <table cellpadding="0" cellspacing="0" border="0" class="procedureTable">
        <thead>
            <tr>
                <th style="width:10%">
                    <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">No.
                        <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th style="width:40%">
                    <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">Title
                        <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th style="width:15%">
                    <a href="#" ng-click="sortType = 'lastuse'; sortReverse = !sortReverse">Last Use
                        <span ng-show="sortType == 'lastuse' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'lastuse' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="centerCols" style="width:15%">
                    <a href="#" ng-click="sortType = 'running'; sortReverse = !sortReverse">Running
                        <span ng-show="sortType == 'running' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'running' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="centerCols" style="width:15%">
                    <a href="#" ng-click="sortType = 'archived'; sortReverse = !sortReverse">Archived
                        <span ng-show="sortType == 'archived' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'archived' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th style="width:15%">
                    <a href="#">Actions
                    </a>
                </th>
            </tr>
        </thead>
    </table>
  </div>
    <div class="tbl-content" style="font-size:16px" ng-repeat="group in groups | orderBy:group.groupNum" >
        <table cellpadding="0" cellspacing="0" border="0" class="procedureTable table-hover">
            <tbody ng-show="group.groupList.length > 0 && loadstatus === false" style="background: #fcfefc">
                <tr style="background-color: #125790" ng-click="toggleList(group.groupNum)">
                    <td style="width:10%;color: #ffffff"><strong>{{ group.groupNum}}</strong></td>
                    <td style="width:40%;color: #ffffff"><strong>{{group.groupName}}</strong></td>
                    <td style="width:15%"></td>
                    <td style="width:15%"></td>
                    <td style="width:15%"></td>
                    <td style="width:15%"></td>
                </tr>
                <tr dir-paginate="procedure in group.groupList | orderBy:sortType:sortReverse | itemsPerPage:group.groupSize" pagination-id="group.groupName" ng-hide="group.hidden === true" >
                    <td style="width:10%">{{ procedure.id }}</td>
                    <td style="width:40%">{{ procedure.title }}</td>
                    <td style="width:15%">{{ procedure.lastuse }}</td>
                    <td class="centerCols" style="width:15%"><a href="/dashboard/procedure/running/{{procedure.id}}" ng-click="changeColor('Live',procedure.id,procedure.title,false);">{{ procedure.running }}</a></td>
                    <td class="centerCols" style="width:15%"><a href="/dashboard/procedure/archived/{{procedure.id}}" ng-click="changeColor('Archived',procedure.id,procedure.title,false);">{{ procedure.archived }}</a></td>
                    <td style="width:15%">
                        <a href="/dashboard/viewProcedure/{{procedure.id}}" ng-click="changeColor('Preview',procedure.id,procedure.title,false);">
                            <span class="fa-stack fa-stack-15" style="vertical-align:middle">
                                <i class="fa fa-search fa-stack-1x fa-lower-right"></i>
                                <i class="fa fa-file-o fa-stack-2x fa-stack-15x fa-upper-left"></i>
                                <md-tooltip md-direction="top">Preview procedure</md-tooltip> 
                            </span>
                        </a>&nbsp;&nbsp;
                        <a href="#" ng-click="showEditModal(procedure)">
                            <span class="fa fa-edit" style="vertical-align:middle">
                                <md-tooltip md-direction="top">Rename procedure</md-tooltip> 
                            </span>
                        </a>&nbsp;&nbsp;
                        <a ng-click="download(procedure.id, procedure.title)" href="">
                            <span class="fa fa-download" style="vertical-align:middle">
                                <md-tooltip md-direction="top">Download procedure</md-tooltip> 
                            </span>
                        </a>&nbsp;&nbsp;
                        <a href="/dashboard/procedure/{{procedure.id}}" ng-click="changeColor('Live',procedure.id,procedure.title,true);" ng-show="role.cRole.callsign !== 'VIP'">
                            <span class="fa fa-caret-right iconDisplay" style="vertical-align:middle">
                                <md-tooltip md-direction="top">Start procedure</md-tooltip> 
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody class="details" ng-show="procedurelist.length === 0 && loadstatus === false" style="background: #fcfefc">
                <tr>
                    <td colspan="6" style="text-align:center">No procedures available.</td>
                </tr>
            </tbody>
            <tbody class="details" ng-show="loadstatus === true">
                <tr>
                    <td colspan="6" style="text-align:center;background: #fcfefc">
                        <div class="loading-spiner" ng-show="loadstatus === true"><img src="../../../media/gifs/tenor (3).gif" style="width:100px"/> </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="group.groupName" class="pagination" style="float:right" ng-hide="group.hidden === true"></dir-pagination-controls>
    </div>
</section>
