<!-- <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()">
        <span aria-hidden="true">×</span>
    </button> -->
<!--     <h4 class="modal-title" id="myModalLabel">Upload a procedure</h4> -->
<!-- </div>
<div class="modal-body" style="min-height: 500px"> -->
<!--         <form name="upload_form" enctype="multipart/form-data"  >
            <div layout="row" layout-wrap class="formcontainer1">
               <div flex="99" style="padding:0px 5px"><label><b>Upload a procedure</b></label> </div>
            </div>
            <div layout="row" layout-wrap class="upload_form_row formcontainer2">
                <div flex="15" class="uploadlabel"></div>
                <div flex="65"> 
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                            Browse 
                            <input type="file" id="file" ngf-select ng-model="config.file" name="file" 
                            ngf-pattern="'.xlsx'" accept=".xlsx" ngf-max-size="1MB" class="browsefile">
                            </span>
                        </label>
                        <input type="text" class="form-control" value="{{ config.file.name }}" placeholder="Filename format:  index - groupname - proceduretitle.xlsx" style="background: #fafafa !important" readonly>
                    </div>
                </div>
                <div flex="20">
                    <input type="submit" ng-click="$ctrl.submit()" class="btn btn-primary upload" value="Add">
                </div>
            </div>
            <div layout="row" layout-wrap>
               <div flex="15"></div>
               <div flex="65" id="toaster"></div>
               <div flex="20"></div> 
            </div>
        </form> -->
<!-- </div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.close()">Close</button>
</div> -->




<md-dialog aria-label="" style="min-height: 500px;min-width: 1000px">
    <form name="upload_form" enctype="multipart/form-data"  >
            <div layout="row" layout-wrap class="formcontainer1">
               <div flex="99" style="padding:0px 5px"><label><b>Upload a procedure</b></label> </div>
            </div>
            <div layout="row" layout-wrap class="upload_form_row formcontainer2">
                <div flex="15" class="uploadlabel"></div>
                <div flex="65"> 
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                            Browse 
                            <input type="file" id="file" ngf-select ng-model="config.file" name="file" 
                            ngf-pattern="'.xlsx'" accept=".xlsx" ngf-max-size="1MB" class="browsefile">
                            </span>
                        </label>
                        <input type="text" class="form-control" value="{{ config.file.name }}" placeholder="Filename format:  index - groupname - proceduretitle.xlsx" style="background: #fafafa !important" readonly>
                    </div>
                </div>
                <div flex="20">
                    <input type="submit" ng-click="submit()" class="btn btn-primary upload" value="Add">
                </div>
            </div>
            <div layout="row" layout-wrap>
               <div flex="15"></div>
               <div flex="65" id="toaster"></div>
               <div flex="20"></div> 
            </div>
<!--             <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions> -->
        </form>
</md-dialog>
